@font-face {font-family: 'hypercase-bold';src: url('../fonts/Raleway-Bold.ttf') format('truetype');}
@font-face {font-family: 'hypercase-semibold';src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');}
@font-face {font-family: 'hypercase-medium';src: url('../fonts/Raleway-Medium.ttf') format('truetype');}
@font-face {font-family: 'hypercase-regular';src: url('../fonts/Raleway-Regular.ttf') format('truetype');}
@font-face {font-family: 'hypercase-light';src: url('../fonts/Raleway-Light.ttf') format('truetype');}
