$purple-dull: #67266e;
$purple-bright: #73337a;
$purple-bright-extra: #aa3bb6;
$purple-dark: #261132;
$green-dull: #4caf50;
$green-bright: #00cf20;
$orange-dull: #ee964b;


$dark1: #1F2034;
$dark2: #1E233A;
$dark3: #303656;
$darkest: #191B2A;
$blue1: #48C5EE;
$blue2: rgb(72, 125, 238);
$white: #ffffff;
$red: #D14155;
$green: #00cf20;